main {
  font-family: sans-serif;
  padding: 20px;
  margin: auto;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

head {
    text-align: center;
}

body {
    background-color: bisque;
}

p {
    text-align: center;
    font-family: sans-serif;
    padding: 20px;
    margin: auto;
}

.link {
    float: right;
    max-width: 100px; 
    margin: 0 auto;   
}

.link img {
    float: left;         
    width: 45%;          
    margin-right: 5%;    
    height: auto;        
}

